
.main-color{
    background-color: #0E0E0E;

}

.main-color-sec{
    background-color: #090909;

}

.imga-carda{
    height: 286px;
    width: 286px;
}

.sitemap{
    height: 40px;
}

.lang-size{
    height: 20px;
    width: auto;
}

.destaques {
    height: 160px;
    width: 160px;
}

#destaques {
    height: 160px;
    width: 320px;
}

.img-container {
    position: relative;
    display: inline-block;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
}

.destaques-container a {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
  

.destaques-container a:hover{
    opacity: 0.5;
    transform: scale(1.2);
}